body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "SFPro"; /* Custom name you assign */
  src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFPro2"; /* Custom name you assign */
  src: url(/fonts/SFPRODISPLAYBOLD.OTF) format("truetype");
  font-weight: bold;
  font-style: normal;
}

.top-header {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  height: 86px;
  justify-content: space-between;
  align-items: center;
}

.header-links:hover {
  color: #095af0;
  transition: color 0.3s ease-in-out;
}

.front-logo {
  width: 154.9px;
  height: 46.1px;
  padding: 20px;
}

.nav-header {
  display: flex;
  width: 471px;
  height: 57px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #2476ff;
}

button {
  width: 102px;
  height: 45px;
  border-radius: 30px;
  background-color: #2476ff;
  color: white;
}

button:hover {
  background-color: white;
  color: #2476ff;
}

.hero-section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: 446px;
  padding: 40px 30px 0 30px;
  background-image: url(/assets/bg/background-top.svg);
}

.hero-section img:hover {
  background-color: #2476ff;
  color: white;
}

.bottom-left {
  display: flex;
  gap: 20px;
}

.learn-more {
  margin: auto 0;
}

.left-part,
.right-part {
  display: flex;
  width: 482px;
  height: 406px;
}

.intro-text {
  display: flex;
  width: 334px;
  height: 144px;
  font-size: 40px;
  line-height: 48.41px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  gap: 11px;
  margin-bottom: 0;
}

.subtitle {
  display: flex;
  width: 334px;
  height: 17px;
  font-size: 14px;
  line-height: 18.94px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #677788;
}

.learn-more {
  width: 78px;
  height: 17px;
  font-size: 14px;
  line-height: 18.94px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #677788;
}

.video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 137px;
  height: 48px;
}

.left-part {
  flex-direction: column;
}

.play-circle {
  width: 18px;
  height: 18px;
  font-weight: 900;
}

.right-part {
  position: relative;
}

.right-part img {
  box-sizing: border-box;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 3px 13px 0px #00000040;
}

.asana {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 380px;
  border-radius: 40px;
  padding: 16px;
  animation: slide-in 2s linear;
}

@keyframes slide-in {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

.atlassian {
  width: 80px;
  height: 80px;
  top: 10px;
  left: 175px;
  border-radius: 40px;
  padding: 16px;
  animation: slide-in 2s linear;
}

@keyframes slide-in {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}
.calender {
  width: 80px;
  height: 80px;
  top: 310px;
  left: 384px;
  border-radius: 40px;
  padding: 16px;
  animation: slide-up 2s linear;
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.google-ads {
  width: 60px;
  height: 60px;
  top: 290px;
  left: 155px;
  border-radius: 30px;
  padding: 10px;
  animation: slide-up 2s linear;
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.google {
  width: 60px;
  height: 60px;
  top: 10px;
  left: 64px;
  border-radius: 30px;
  padding: 10px;
  animation: slide-in 2s linear;
}

@keyframes slide-in {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

.paypal {
  width: 80px;
  height: 80px;
  top: 172px;
  left: 44px;
  border-radius: 40px;
  padding: 16px;
  animation: slide-in 2s linear;
}

@keyframes slide-in {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}

.weave {
  width: 80px;
  height: 80px;
  top: 172px;
  left: 262px;
  border-radius: 40px;
  padding: 16px;
  animation: slide-up 2s linear;
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.why-section {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  height: 354px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px 80px 30px;
}

.why-font-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-font-paragraphs p {
  text-align: center;
}

.font {
  font-size: 26px;
  font-weight: 700;
  line-height: 31.47px;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bullet-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 964px;
}

.circle-item {
  position: relative;
  display: flex;
  width: 224px;
  height: 145px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.circle-one::before,
.circle-two::before,
.circle-three::before,
.circle-four::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 60px;
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

.circle-one::after,
.circle-two::after,
.circle-three::after,
.circle-four::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 83px;
  height: 1px;
  background-color: #e6e9f2;
}

.circle-one,
.circle-two,
.circle-three,
.circle-four {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ecf2ff;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0066ff;
}

.circle-one:first-child::before {
  display: none;
}

.circle-four:first-child::after {
  display: none;
}

.bullet-list div {
  text-align: center;
  font-size: 14px;
  color: #677788;
}

.pricing-section {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 60px;
  width: 1024px;
  height: 692px;
}
.pricing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pricing-title :first-child {
  margin: 0;
  width: 90px;
  height: 31px;
  font-size: 26px;
  font-weight: 700;
}

.pricing-title :last-of-type {
  margin: 0;
  text-align: center;
  width: 600px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
}

.plans-feature-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1024px;
  height: 452px;
  gap: 30px;
}

.pricing-table {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 964px;
  height: 452px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 370px;
  height: 452px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 10px 20px 0px #00000026;
}

.plan-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 194px;

  margin-top: 20px;
}

.plan-footer {
  margin: 40px;
  align-self: flex-start;
  width: 137px;
  height: 73px;
}

.price {
  width: 114px;
  height: 61px;
  font-weight: 510;
  font-size: 20px;
  color: #677788;
}

.price::before {
  content: "59";
  width: 63px;
  height: 61px;
  font-weight: 500;
  font-size: 50px;
  color: #000000;
  margin-right: 5px;
}

.line {
  display: block;
  width: 290px;
  height: 1px;
  min-height: 1px;
  background-color: #8d8d8d;
}

.start-business {
  width: 290px;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #677788;
  margin-top: 45px;
  padding: 0;
}

.plan-features {
  display: flex;
  flex-wrap: wrap;
  width: 564px;
  height: 452px;
}

.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 15px;
  font-size: 12px;
  line-height: 14.52px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #677788;
}

.video-button-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 137px;
  height: 48px;
}

.row-one,
.row-two {
  display: flex;
  width: 564px;
  height: 219px;
  gap: 10px;
}

.plan-feature-one,
.plan-feature-two,
.plan-feature-three,
.plan-feature-four {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 277px;
  height: 219px;
}

.plan-feature-one img {
  width: 50px;
  height: 50px;
}

.plan-feature-one p:first-of-type {
  width: 224px;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.plan-feature-one p:last-of-type {
  width: 237px;
  height: 66px;
  font-weight: 500;
  font-size: 14px;
  color: #677788;
}

.plan-feature-three {
  position: relative;
}

.sketch::after {
  left: 55%;
  top: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "sketch";
  font-size: 12px;
  font-weight: 700;
  width: 60px;
  height: 23px;
  border-radius: 15px;
  color: white;
  gap: 10px;
  padding: 4px 10px 4px 10px;
  background-color: #01c9a7;
}

.hire-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1024px;
  height: 708px;
  background-color: #20335b;
}

.left-hire-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 482px;
  height: 648px;
}
.right-hire-section {
  display: flex;
  width: 482px;
  height: 648px;
}

.left-section-top {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 370px;
  height: 180px;
}

.left-section-bottom {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 123px;
}

.middle-hire-us {
  display: flex;
}

.hire-us-title {
  margin: 0;
  width: 92px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}

.hire-us-caption {
  margin-top: 0;
  width: 370px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #677788;
}

.hire-line {
  display: block;
  width: 370px;
  height: 1px;
  min-height: 1px;
  background-color: #ffffff;
}

.phrase {
  width: 363px;
  height: 48px;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.person {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 43px;
  padding-right: 20px;
  gap: 4px;
}

.charlotte {
  width: 144px;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.head-of-com {
  width: 188px;
  height: 17px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: #677788;
}

.left-section-bottom img {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 482px;
  height: 648px;
  background-color: #ffffff;
  border-radius: 10px;
}

.form-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 392px;
  height: 496px;
  gap: 20px;
}

.form-data p {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 392px;
  height: 48px;
}

.name-group {
  display: flex;
  justify-content: space-between;
  width: 392px;
  height: 44px;
  gap: 20px;
}

.first-name,
.last-name,
.drop-down {
  width: 186px;
  height: 44px;
  border: 1px solid #e6e8f2;
  border-radius: 5px;
}

.email-group {
  display: flex;
  width: 392px;
  height: 44px;
}

.email {
  width: 392px;
  height: 44px;
  border: 1px solid #e6e8f2;
  border-radius: 5px;
}

.select-group {
  display: flex;
  justify-content: space-between;
  width: 392px;
  height: 44px;
  gap: 20px;
}

.comment-box {
  width: 392px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #e6e8f2;
  font-family: "SFPro", sans-serif;
  font-size: 14px;
}

.agreement-group {
  display: flex;
  width: 392px;
  height: 76px;
  gap: 10px;
}

.input-cb {
  width: 25px;
  height: 28px;
}

.checkbox {
  width: 25px;
  height: 24px;
  border-radius: 3px;
  border-color: #e6e8f2;
}

.agree-comment {
  width: 351px;
  height: 44px;
  font-size: 14px;
  font-weight: 510;
  color: #828282;
}

.privacy {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 351px;
  height: 22px;
  top: 420px;
  right: 50px;
}

.privacy p {
  width: 131px;
  height: 22px;
  font-weight: 700;
  font-size: 14px;
  font-family: "SFPro", sans-serif;
}

.privacy :last-of-type {
  color: #2476ff;
}

.action-button {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: center;
  width: 392px;
  height: 44px;
}

.action-button button {
  border: 1px #2476ff solid;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  background-color: #2476ff;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1024px;
  height: 246px;
}

.main-footer-container {
  display: flex;
  flex-direction: column;
  width: 1024;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 964px;
  height: 166px;
  justify-content: space-evenly;
}

.frame1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 251px;
  height: 93.76px;
  font-family: "SFPro";
  font-size: 14px;
  font-weight: 510;
  color: #677788;
  gap: 30px;
}

.fa-location-arrow {
  width: 11px;
  height: 14px;
}

.frame1 img {
  width: 100px;
  height: 29.76px;
}

.frame1 span {
  width: 231px;
  height: 17px;
}

.location-info {
  display: flex;
  gap: 6px;
}

.telephone {
  display: flex;
  color: #2576ff;
  gap: 6px;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "SFPro2", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.frame2 p {
  margin: 0;
  padding: 0;
}

.frame2 {
  display: flex;
  flex-direction: column;
  font-family: "SFPro";
  color: #677788;
  gap: 25px;
  font-size: 14px;
  font-weight: 510;
  width: 143px;
  height: 168px;
  position: relative;
}

.frame-bottom {
  display: flex;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.career::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "We're Hiring";
  position: absolute;
  width: 55px;
  height: 18px;
  background-color: #2576ff;
  color: white;
  border-radius: 3px;
  font-size: 8px;
  font-family: "SFPro";
  font-weight: 510;
  bottom: 50%;
  right: 30%;
}

.release {
  color: #2476ff;
}

.user {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .top-header {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    width: 772px;
    height: 86px;
    justify-content: space-between;
    align-items: center;
  }

  .asana,
  .atlassian,
  .calender,
  .google-ads,
  .google,
  .paypal,
  .weave {
    animation: none;
  }

  .nav-header {
    display: none;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #2476ff;
  }

  .hero-section {
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 772px;
    height: 664px;
    background-image: url(/assets/bg/background-top.svg);
  }

  .why-section {
    width: 768px;
    height: 354px;
  }

  .left-part {
    display: flex;
    width: 712px;
    height: 305px;
  }

  .left-part p {
    display: flex;
    justify-content: center;
    width: 772px;
    height: 48px;
  }

  .bottom-left {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .learn-more {
    margin: auto 0;
  }

  .right-part {
    display: flex;
    margin-top: 100px;
    width: 482px;
    height: 506px;
  }

  .why-section {
    margin-top: 100px;
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
    width: 768px;
    height: 833px;
    align-items: center;
  }

  .plans-feature-list {
    margin: 0 auto;
    width: 680px;
    height: 373px;
  }

  .pricing-section {
    display: flex;
    width: 768px;
    height: 1013px;
  }

  .pricing-title {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 768px;
    height: 54px;
  }

  .hire-us-section {
    width: 768px;
    height: 984px;
  }

  .middle-hire-us {
    display: flex;
    flex-direction: column;
  }

  .left-hire-section {
    display: flex;
    flex-direction: row;
    width: 708px;
    height: 240px;
  }

  .right-hire-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .form-container {
    display: flex;
    justify-content: center;
    width: 648px;
    height: 624px;
  }

  .form-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 648px;
    height: 624px;
  }

  .name-group,
  .select-group,
  .comment-box {
    width: 588px;
  }

  .agreement-group .privacy {
    width: 588px;
  }

  .email-group,
  .email {
    width: 588px;
  }

  .first-name,
  .last-name,
  .drop-down {
    width: 284px;
  }

  .action-button {
    width: 125px;
    position: relative;
    top: 5px;
  }

  .main-footer-container {
    display: flex;
    justify-content: center;
    width: 768px;
    height: 381px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 60px;
    width: 708px;
    height: 381px;
  }

  .frame-bottom {
    display: flex;
    flex-wrap: wrap;
    width: 417px;
    height: 381px;
  }
}

@media  (max-width: 767px) {
  .top-header {
    width: 360px;
    height: 86px;
    justify-content: space-between;
    margin: 0;
  }

  .nav-header {
    display: none;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #2476ff;
  }

  .hero-section {
    width: 360px;
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-part {
    width: 328px;
    height: 235px;
    text-align: center;
  }

  .bottom-left {
    margin: 0 auto;
  }

  .right-part {
    display: flex;
    position: relative;
    width: 328px;
    height: 309px;
  }

  .right-part img {
    position: absolute;
  }

  .asana,
  .atlassian,
  .calender,
  .google-ads,
  .google,
  .paypal,
  .weave {
    animation: none;
  }

  .asana {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 16px;
  }

  .atlassian {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 16px;
  }

  .calender {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 16px;
  }

  .google-ads {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
  }

  .google {
    width: 60px;
    height: 60px;
    right: 200px;
    border-radius: 30px;
    padding: 10px;
  }

  .paypal {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 16px;
  }

  .weave {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    padding: 16px;
  }

  .why-section {
    display: flex;
    width: 360px;
    height: 488px;
  }

  .bullet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 251px;
  }

  .circle-item {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 300px;
  }

  .circle-one::before,
  .circle-two::before,
  .circle-three::before,
  .circle-four::before {
    display: none;
  }

  .circle-one::after,
  .circle-two::after,
  .circle-three::after,
  .circle-four::after {
    display: none;
  }

  .pricing-section {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 1451px;
  }

  .pricing-title {
    display: flex;
    width: 380px;
    height: 60px;
  }

  .plan {
    width: 328px;
    height: 397px;
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 1451px;
    display: flex;
  }

  .plans-feature-list {
    width: 328px;
    height: 844px;
    display: flex;
    flex-direction: column;
  }

  .row-one,
  .row-two {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 426px;
  }

  .hire-us-section {
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 1337px;
  }

  .left-hire-section,
  .right-hire-section {
    width: 362px;
    height: 467px;
  }
}
